<div class="main-content">
    <div class="container-fluid">
        <div class="loader" *ngIf=!overallProduct>
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div class="row" *ngIf=overallProduct>
            <div class="col-md-3">
                <input [(ngModel)]="searchText" class="form-control" placeholder="Search" />
                <div style="height: 760px; overflow-y: scroll;">
                    <table class="table" style="background-color: white;">
                        <tbody>
                            <tr *ngFor="let product of overallProduct | filter : searchText" style="cursor: pointer;" (click)="activateClass(product)">
                                <td>
                                    <!-- TODO: Point to correct image URL -->
                                    <img onError="this.src='http://localhost/amazon-selling-manager/assets/img/favicon.ico';" style="margin: 5px; width: 20px; height: 20px;" src="/amazon-selling-manager/{{product.ProductImageFilePath}}"> {{product.ProductLibraryCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">

                    <div class="card-header" data-background-color="green" style="display: flex; justify-content: space-between;">
                        <span>
                            <h4 class="title">Selling Manager</h4>
                        </span>
                        <span style="cursor: pointer">
                            <a target="_blank" href="/amazon-selling-manager/api/Report/StandardSalesReport.xlsx">
                                <i class="material-icons">get_app</i>
                                Download
                            </a>
                        </span>

                    </div>

                    <div class="card-content">
                        <h4 class="title">Calculator</h4>
                        <div style="display: table">
                            <!-- TODO: POint to right path -->
                            <span style="vertical-align: middle;  display: table-cell;">
                                <img onError="this.src='http://localhost/amazon-selling-manager/assets/img/favicon.ico';" src="/amazon-selling-manager/{{currentProduct.ProductImageFilePath}}"
                                    style="width: 150px;  vertical-align: middle;display: table-cell; margin: 4px;" />
                            </span>

                            <span style="vertical-align: middle;  display: table-cell;">
                                <div class="row" style="margin:10px;">
                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">Landed Cost</label>
                                            <input class="form-control" type="text" [value]="currentProduct.LandCost" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">FBA Cost</label>
                                            <input class="form-control" type="text" [value]="currentProduct.FBACost" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">Selling Price</label>
                                            <input class="form-control" type="text" [(ngModel)]="sellingPrice" [value]="sellingPrice" (input)="onInputChange()">
                                            <div>( {{currentProduct.MinPrice}} to {{currentProduct.MaxPrice}} )</div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">GST %</label>
                                            <input class="form-control" type="text" [(ngModel)]="gstPercentage" [value]="gstPercentage" (input)="onInputChange()">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">GST Payable</label>
                                            <input class="form-control" type="text" [(ngModel)]="gstPayable" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group is-empty">
                                            <label class="label">Profit</label>
                                            <input class="form-control" type="text" [(ngModel)]="profit" readonly>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>

                        <hr>

                        <div style="display: table" style="width: 100%">

                            <h4 class="title">Sales Table</h4>
                            <span style="vertical-align: middle;">
                                <table style="margin: 4px;" class="table">
                                    <thead class="text-danger">
                                        <tr>
                                            <th>Weeks</th>
                                            <th title="{{currentProduct.W8duration}}">W8</th>
                                            <th title="{{currentProduct.W7duration}}">W7</th>
                                            <th title="{{currentProduct.W6duration}}">W6</th>
                                            <th title="{{currentProduct.W5duration}}">W5</th>
                                            <th title="{{currentProduct.W4duration}}">W4</th>
                                            <th title="{{currentProduct.W3duration}}">W3</th>
                                            <th title="{{currentProduct.W2duration}}">W2</th>
                                            <th title="{{currentProduct.W1duration}}">W1</th>
                                            <th title="{{currentProduct.W0duration}}">W0</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Order</td>
                                            <td>{{currentProduct.W8Count}}</td>
                                            <td>{{currentProduct.W7Count}}</td>
                                            <td>{{currentProduct.W6Count}}</td>
                                            <td>{{currentProduct.W5Count}}</td>
                                            <td>{{currentProduct.W4Count}}</td>
                                            <td>{{currentProduct.W3Count}}</td>
                                            <td>{{currentProduct.W2Count}}</td>
                                            <td>{{currentProduct.W1Count}}</td>
                                            <td>{{currentProduct.W0Count}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cancel</td>
                                            <td>{{currentProduct.W8Cancel}}</td>
                                            <td>{{currentProduct.W7Cancel}}</td>
                                            <td>{{currentProduct.W6Cancel}}</td>
                                            <td>{{currentProduct.W5Cancel}}</td>
                                            <td>{{currentProduct.W4Cancel}}</td>
                                            <td>{{currentProduct.W3Cancel}}</td>
                                            <td>{{currentProduct.W2Cancel}}</td>
                                            <td>{{currentProduct.W1Cancel}}</td>
                                            <td>{{currentProduct.W0Cancel}}</td>
                                        </tr>
                                        <tr>
                                            <td>Ad Spent</td>
                                            <td>{{currentProduct.W8AdSpend}}</td>
                                            <td>{{currentProduct.W7AdSpend}}</td>
                                            <td>{{currentProduct.W6AdSpend}}</td>
                                            <td>{{currentProduct.W5AdSpend}}</td>
                                            <td>{{currentProduct.W4AdSpend}}</td>
                                            <td>{{currentProduct.W3AdSpend}}</td>
                                            <td>{{currentProduct.W2AdSpend}}</td>
                                            <td>{{currentProduct.W1AdSpend}}</td>
                                            <td>{{currentProduct.W0AdSpend}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </span>
                        </div>
                        <hr>
                        <div style="display: table" style="width: 100%">

                            <h4 class="title">Stock Count</h4>
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Warehouse</th>
                                        <th>Amazon FBA</th>
                                        <th>China Order</th>
                                        <th>Weeks in Amazon</th>
                                        <th>Months in Amazon</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{currentProduct.WarehouseQuantity}}</td>
                                        <td>{{currentProduct.AmazonQunatity}}</td>
                                        <td>{{currentProduct.ContainerQuantity}}</td>
                                        <td>{{currentProduct.WeeksInAmazon}}</td>
                                        <td>{{currentProduct.MonthsInAmazon}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div style="display: table" style="width: 100%">

                            <h4 class="title">Container Stock</h4>
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>ID</th>
                                        <th>Vendor Code</th>
                                        <th>Ordered Quantity</th>
                                        <th>Due Date</th>
                                        <th>Action</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor='let containerReport of currentProduct.ContainerReportList'>
                                        <td>
                                            <input class="form-control" type="text" [(ngModel)]="containerReport.ID" [value]="containerReport.ID" readonly #vId>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" [(ngModel)]="containerReport.VendorCode" [value]="containerReport.VendorCode" readonly>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" [(ngModel)]="containerReport.Count" [value]="containerReport.Count" #vCount>
                                        </td>
                                        <td>
                                            <input class="form-control" type="date" name="" id="" [ngModel]="containerReport.EDD | date:'yyyy-MM-dd'" #vDate>

                                        </td>
                                        <td>
                                            <input type="button" value="Update" class="btn btn-primary" (click)="updateVendor(vId, vCount, vDate)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>