.full-page .full-page-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
}

.login-page .card-login {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    padding-bottom: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-top: 35%;
}

.card-header {
    background: linear-gradient(60deg,#ec407a,#d81b60);
}